<%- include('../partials/html-head') %>
<!-- <link rel="stylesheet" href="/stylesheets/movies/new.css" /> -->
<%- include('../partials/nav') %>

<main>
    <h1><%= title %></h1>
    <form id="new-form" action="/events" method="POST">
      <label for="location-input">Event:</label>
      <input required type="string" name="location" id="location-input">
      <label for="date-input">Date:</label>
      <input type="datetime-local" name="date" id="date-input">
      <label for="attended">Attended:</label>
      <select name="attended" id="attended-select">
          <option value="Yes">Yes</option>
          <option value="No">No</option>
      </select>
      <button type="submit">Add Event</button>
    </form>
  </main>


<%- include("../partials/footer") %>