html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-color:  white;
  color: #5252d4;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: unbounded, sans-serif;
  margin: 0;
}

.h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  justify-self: center;
}

.doStuff {
  height: 450px;
  margin-top: 15%;
  width: 450px;
}

.this-week {
  display: flex;
  flex-direction: center;
  margin-top: 200px;
  height: 450px;
  justify-content: center;
  align-items: center;
  width: 450px;
  margin-left: 600px;
  margin-right: center;
}

nav {
  background-color: #e0474c;
  color: #51d0de;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  min-height: 60px;
  font-weight: bold;
}

nav > a {
  background-color: white; 
  border: none;
  color:   #51d0de;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  justify-self: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.right {
  margin-left: auto;
}

.button {
  color:  yellow;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 10px;
    margin-bottom: 50px;
    justify-self: center;
    text-align: center;
    font-family:  unbound;
    font-size: 14px;
    padding: 3px;
    font-weight: bold;
}


