html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-color:  #dccfcc;
  color: #5252d4;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: unbounded, sans-serif;
  margin: 0;
}

.h1 {

align-items: center;

}

.doStuff {


}

nav {
  background-color: #e0474c;
  color: #51d0de;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  min-height: 60px;
}

nav > a {
  background-color: white; 
  border: none;
  color:   #51d0de;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  justify-self: center;
  margin-left: auto;
  margin-right: auto;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.right {
  margin-left: auto;
}


